.itemsListContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -20%;
  padding-bottom: 25%;
}
.itemsListHeader {
  background-color: #8dc483;
  color: white;
  font-size: 32px;
  border-radius: 20px;
  width: 92%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 0px 12px 35px;
}
ul {
  width: 100%;
  padding: 0;
}
.itemsLI {
  background-color: #5ab9cd;
  list-style: none;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  margin: auto;
  margin-bottom: 8px;
  padding: 10px 0px 10px 35px;
}
.itemsListSearchIcon {
  width: 40px;
  margin: auto;
}
.itemsListSearchContainer {
  border-width: 0;
  border-bottom: 4px solid grey;
  margin: 40px 0px;
  width: 95%;
}
.itemsListSearchInput {
  border: none;
}
