.topNavContainer {
    background-color: #eaf5fb;
    padding: 5px 0px;
    width: 90%;
}
.topBorderNav {
    border-bottom: #a5d7e0 solid 10px;
}
.topNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links {
    color: #324a7a;
}
.navbar {
    padding: 0;
}